<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Accueil Esc@pad</title>
  {%  load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static '/admin/css/login.css' %}" />
  <script type="text/javascript" src="{% static '/admin/js/vendor/jquery/jquery.js' %}"></script>
  <style type="text/css">
    /* ---  email hiding ---- */
    .email-span:after {
          content: '@univ-lille3.fr';
    }
    .email {
          display: inline-block;
          font-weight: bold;
          cursor: pointer;
    }
    .no_display p {
          display: none;
    }
    .no_display:after {
          content: '.';
    }
  </style>
  <meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class="login" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="">Bienvenue sur Esc@pad</a></h1>
            </div>
        </div>
        <!-- END Header -->
        <!-- Content -->
        <div id="content" class="colM">
            <div id="content-main" style="text-align:center;">
                <h2 ><a class="button" style="padding:0.5em;" href="{% url 'admin:index' %}">Ajouter ou gérer un dépôt de cours Esc@pad</a> </h2>
                <br class="clear" />
                <h2><a class="button" style="padding:0.5em;" href="{% url 'connexion' %}">Accéder à l'éditeur de cours collaboratif</a> </h2>
                <br class="clear" />
                <h2><a class="button" style="padding:0.5em;" href="{% static 'documentation' %}">Voir la documentation Esc@pad</a> </h2>
                <br class="clear" />
                <h2><a class="button email" style="padding:0.5em;">
                      Contactez <span class="email-span">alain<span class="no_display"><p>point</p></span>preux</span> pour obtenir un accès
                    </a>
                </h2>
            </div>
            <br class="clear" />
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
    <script>
    $('.email').click(function(){
      window.location.href='mailto:'+$(this).find(".email-span").html().replace('point', '.')+'@univ-lille3.fr';
    });
    </script>
    <!-- END Container -->
</body>
</html>
