<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Accueil Esc@pad</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class="login" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="">Bienvenue sur Esc@pad</a></h1>
            </div>
        </div>
        <!-- END Header -->
        <!-- Content -->
        <div id="content" class="colM">
            <div id="content-main" style="text-align:center;">
              <h2 ><a class="button" style="padding:0.5em;" href="/admin/">Ajouter ou gérer un dépôt de cours Esc@pad</a> </h2>
                <br class="clear" />
                <h2><a class="button" style="padding:0.5em;" href="http://escapad.univ-lille3.fr/documentation">Voir la documentation Esc@pad</a> </h2>
            </div>
            <br class="clear" />
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
    <!-- END Container -->
</body>
</html>
