{% extends "application.html" %}

{% block title %}Upload de cours{% endblock %}
{% block content %}

    <h2>Veuillez entrer les informations pour créer le cours</h2>

    {% if sauvegarde  %} Votre message a bien été envoyé !{% endif %}

    <!--
    <form action="{% url "form_upload" %}" method="post"  enctype="multipart/form-data">
    -->
    <form action="{% url "form_upload" %}" method="post"  enctype="application/zip">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
