

{% extends "app_accueil.html" %}

{% block titre %}Bienvenue sur Esc@pad{% endblock %}

{% block script %}

{%  load static %}

{% endblock %}

{% block content %}

<h1>esc@pad</h1>

<h6>Édition Simple de Cours en ligne sur Plateforme à Accès Distribué</h6>

<blockquote>
  <p><code>esc@pad</code> a été imaginée par des enseignants qui développent des cours sur des plateformes d'enseignement en ligne (LMS), telles que Moodle.</p>

  <ul>
  <li>La mise en forme et surtout la modification des cours et des quizz sur ces outils nous ont paru laborieuses,</li>

  <li>lorsque nous avons voulu reprendre des contenus de Moodle pour en faire un mooc sur Edx,
    la manipulation nécessaire nous a découragé, alors que les contenus étaient déjà faits,</li>

  <li>l'édition collaborative n'était pas possible.</li>
  </ul>

  <p>Pour ces raisons, nous avons imaginé <code>esc@pad</code>, que nous mettons à disposition de la communauté éducative.
    La plateforme est entièrement libre d'accès et le projet est disponible sur Github sous licence CC.</p>

  <p>En utilisant le format <code>Markdown</code> pour structurer les contenus de cours et le format <code>gift</code>
    pour décrire les exercices, nous proposons d'écrire l'ensemble du cours à l'extérieur des LMS à l'aide
    d'un simple éditeur de texte. <code>esc@pad</code> se charge alors de générer les archives pour l'une ou l'autre
    des plateforme de e-learning.</p>
</blockquote>

<h3>Éditer et visualiser</h3>

<p>En vous connectant, <strong>éditez</strong> vos cours et vos quizz, et
  <strong>générez une archive</strong> contenant une version <strong>html</strong>,
  une archive <strong>Moodle</strong>, et une archive <strong>EdX</strong> prêtes à être importées sur ces 2 LMS.</p>

<h3>Collaborer</h3>

<p><strong>Partager</strong> vos cours avec d'autres utilisateurs enregistrés sur <code>esc@pad</code>,
  ceux-ci y auront accès de la même façon et pourront <strong>collaborer en direct à l'édition</strong> grâce au pad.</p>

<h3>Stockage en ligne</h3>

<p>La plateforme <strong>conserve vos cours et vos quizz</strong>, vous les retrouvez
  à chaque connexion. Aucune sauvegarde n'est nécessaire, le pad s'en charge de manière automatique.
  Seuls vos visuels (formats <code>gif</code>, <code>jpg</code> ou <code>png</code>) doivent
  être conservés sur votre disque dur.</p>

<h3>Pas besoin d'éditeur en ligne ?</h3>

<p>Vous préférez travailler avec <strong>votre propre éditeur</strong> sur votre poste de travail,
  aucun souci, vous pouvez quand même bénéficier d'<code>escapad</code>.
  Il n'est alors pas nécessaire de se connecter, vous <strong>uploadez</strong> votre cours et vos
  media et vous récupérez <strong>la même archive</strong> avec le site web, la version Moodle et la version Edx.</p>

{% endblock %}
