{% extends "app.html" %}

{% block titre %}Formulaire{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/form_dom.js"></script>
<script type="text/javascript" src="/static/js/form_eth_dom.js"></script>
<script type="text/javascript" src="/static/js/detect_change.js"></script>

{% endblock %}

{% block onload %}
onload="initDetect()"
{% endblock %}

{% block content %}

    <h2>Modification du module : {{ name }}</h2>

    {% if sauvegarde  %} Votre message a bien été envoyé !{% endif %}

    {{url}}

        <fieldset id="home">
          <legend>Ecriture du cours</legend>


          <!--
          <form action='/cours/{{id_cours}}/{{url}}' method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <table>
              <tr>
              <td>{{ form_media.as_p}}</td>
              <td><input type="submit" value="Modifier l'url" /></td>
              <td>url actuelle: <a href="{{ url_media }}">{{ url_media }}</a></td>
              </tr>
            </table>
          </form>
          !-->

          <iframe id="framehome" name="framehome" src="{{ full_url }}" width=600 height=400></iframe>
          <iframe id="frametest" name="frametest" src="/apercu_module/{{url}}" width=900 height=400></iframe>

          <br/>
          {% if is_home %}
            <button id="buttonTest" onclick="convertir_home('{{url}}')">Convertir</button>
          {% else %}
            <button id="buttonTest" onclick="convertir_module('{{url}}')">Convertir</button>
          {% endif %}
          <input type="hidden" id="id_home_data" name="home_data" value="{{ full_url }}/export/txt">

        </fieldset>



    <a href='/cours/{{id_cours}}'><button>Retourner au cours </button></a>



{% endblock %}
