{% extends "app.html" %}

{% block titre %}Formulaire{% endblock %}


{% block script %}
<script type="text/javascript" src="/static/js/form_eth_dom.js"></script>
<script type="text/javascript">
  var is_home= "{{ is_home }}" == 'True';
  console.log(is_home);
  var url="{{url}}";
</script>
<script type="text/javascript" src="/static/js/detect_change.js"></script>

<style type="text/css">
  html, body, section, div, fieldset { width:100%; height:100%; }
</style>


{% endblock %}



{% block onload %}
  onload="addlistener()"
{% endblock %}

{% block content %}

    <h2>Modification du module : {{ name }}</h2>

    {{url}}

        <fieldset id="home">
          <legend>Ecriture du cours</legend>
          <input type="button" value="Afficher/Masquer l'aperçu" onclick="afficher_apercu()">
          <br>
          <iframe id="framehome" name="framehome" src="{{ full_url }}" width="45%", height="425px"></iframe>
          <iframe id="frametest" name="frametest" src="/apercu_module/{{url}}" width="45%", height="425px"></iframe>

          <input type="hidden" id="id_home_data" name="home_data" value="{{ full_url }}/export/txt">

          <br>
          <a href='/cours/{{id_cours}}'><button>Retourner au cours </button></a>
        </fieldset>





{% endblock %}
