{% extends "app.html" %}

{% block titre %}Formulaire{% endblock %}

{% block onload %}
onload=
"give_link_to_iframe('{{ETHERPAD_URL}}','framehome','id_home_data', 10, false);
give_link_to_iframe('{{ETHERPAD_URL}}','framemod1','id_module_1', 10, true);"
{% endblock %}

{% block script %}
{%  load static %}
  <script type="text/javascript" src="{% static 'js/form_dom.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/etherpad_process.js' %}"></script>
{% endblock %}

{% block content %}

    <h2>Veuillez entrer les informations pour créer le cours</h2>

    <form action="{% url 'form_upload_eth' %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset id="home">
          <legend>Informations générales</legend>
          {{ form.as_p}}
          <iframe id="framehome" name="framehome" src="" width=600 height=400></iframe>
          <iframe id="frametest" name="frametest" src="/apercu_module/test" width=600 height=400></iframe>

          <br/>
          <button id="buttonTest" onclick="convertir()">Convertir</button>
          <button id="buttonTest2" onclick="changeText()">Changer Texte</button>

          <input type="hidden" id="id_home_data" name="home_data" value="">
        </fieldset>

        <div id="modules">
          <fieldset id="module1">
            <legend>Module 1</legend>
            <!--<label for="id_module_1">Module 1 :</label>-->
            <iframe id="framemod1" name="framemod1" src="" width=600 height=400></iframe>
            <input type="hidden" id="id_module_1" name="module_1" value="">
            {{formMod.as_p}}
          </fieldset>
        </div>

        <input type="button" value="Ajouter un module" onclick="create_mod_eth('{{ETHERPAD_URL}}')">
        <input type="button" value="Retirer un module" onclick="remove_mod_eth()">
        <input id="nb_module" name="nb_module" type="hidden" value="1"/>
        <input type="submit" value="Submit" />
    </form>



{% endblock %}
