{% extends "app.html" %}

{% block content %}
  <h1>Mes cours</h1>

  {% if user.is_authenticated %}

    <table>
      <tr>
        <th>Nom du cours</th>
        <th>Nombre Modules</th>
        <th>Contributeurs</th>
        <th>Modification</th>
        <th>Suppression</th>
      </tr>
    {% for cours in profil.cours.all %}
      <tr>
        <td>{{ cours.nom_cours }}</td>
        <td>{{ cours.nb_module }} Module(s) </td>
        <td>{{ cours.profil_set.all.count }} Contributeur(s) </td>
        <td><a href="{% url 'cours' cours.id_cours %}">Voir le cours</a></td>
        <td><a href="{% url 'delete_course' cours.id_cours %}">Supprimer le cours</a></td>

      </tr>
    {% endfor %}
    </table>

    <br>

    <form action="{% url 'mes_cours' %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset id="home">
          <legend>Créer un nouveau cours</legend>
          {{ form.as_p}}
        </fieldset>

        <input type="submit" value="Commencer à créer" />
    </form>

  {% else %}
  <p> Vous n'êtes pas censé avoir accès à cette page, veuillez vous connecter !</p>
  {% endif %}

{% endblock %}
