<!--
Main template giving the structure of the application.
Most of the template inherits this template.
-->
<!DOCTYPE html>

<html lang="fr" >

<head>

    {%  load static %}

    <!-- bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <!-- onepage css -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/onepage.css' %}" rel="stylesheet">
    <link href="{% static 'css/bouton.css' %}" rel="stylesheet">


    <!-- Icones -->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/popup.css' %}" rel="stylesheet">


    <script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>

    {% block script %}
    {% endblock %}


   <title>{% block title %}Esc@pad - Gestionnaire de dépôts{% endblock %}</title>

</head>

<body data-spy="scroll" data-target="#menugauche" data-offset="120" {% block onload %}{% endblock %}>

    <nav class="navbar navbar-default navbar-fixed-top" id="menutop">
       {% block nav %}
	      <div class="navbar-header">
	         <a class="navbar-brand" href="{% url "accueil" %}">
                  <img class="hidden-xs logo" src="{% static 'img/logo_plat_vert.svg' %}" alt="">
                  <img class="visible-xs logo" src="{% static 'img/logo_cercle_vert.svg' %}" alt="">
            </a>
	      </div>
	      <div id="navbar" class="collapse navbar-collapse">
            <ul class ="nav navbar-nav">
              {% if request.user.username %}
                <li><a>Bonjour {{ request.user.username }} </a></li>
                <li><a href="{% url "deconnexion" %}"> Déconnexion </a></li>
              {% else %}
                <li><a> Bonjour Visiteur :</a></li>
                <li><a href="/connexion">Connexion </a></li>
                <li><a href="{% url "admin:index" %}"> admin </a></li>
                <li><a href="{% static 'documentation' %}"> documentation </a></li>
              {% endif %}
              <li><a href="{% url "admin:index" %}"> admin </a></li>
              <li><a href="{% static 'documentation' %}"> documentation </a></li>
            </ul>
	      </div>
       {% endblock %}
   </nav>

   <!--
   <div class="menugauche navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation" id="menugauche">
      <h1 class="icon-web">Fonctionnalités</h1>

      <ul class="nav panel-group" id="accordion">

         <li class="panel panel-default"><a href="{% url "mes_cours" %}admin/"><h4 class="panel-title">Création de cours hors-ligne</h4></a></li>
         <li class="panel panel-default"><a href="{% url "my_repositories" %}"><h4 class="panel-title">Editeur de cours collaboratif</h4></a></li>
         <li class="panel panel-default"><a href="{% url "form_upload" %}"><h4 class="panel-title">Gestion de cours par dépôts</h4></a></li>


      </ul>

   </div>
  -->

   <section id="content2">
     <ol class="breadcrumb">
        <li><a href="{% url 'accueil' %}"><span class="icon-home"> Accueil</span></a></li>
        {% block breadcrumb %}{% endblock %}
        <li><a href="#"></a></li>
     </ol>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
   </section>

</body>

</html>
