
{% comment %}
    Ceci est le template pour l'application escapade
{% endcomment %}

<!DOCTYPE html>

<html lang="fr" >




<head>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- onepage css -->
    <link href="/static/css/modules.css" rel="stylesheet">
    <link href="/static/css/onepage.css" rel="stylesheet">


    <!-- Icones -->
    <link href="/static/css/icons.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/formulaire_dom.js"></script>

    <style>
      body {
        padding-left: 150px;
      }
    </style>

   <title>{% block title %}Esc@pad{% endblock %}</title>

</head>

<body data-spy="scroll" data-target="#menugauche" data-offset="120">

    <nav class="navbar navbar-default navbar-fixed-top" id="menutop">
       {% block nav %}
	      <div class="navbar-header">
	         <a class="navbar-brand" href="index.html">
                  <img class="hidden-xs logo" src="/static/img/logo_plat_vert.svg" alt="">
                  <img class="visible-xs logo" src="/static/img/logo_cercle_vert.svg" alt="">
            </a>
	      </div>
	      <div id="navbar" class="collapse navbar-collapse">
            <ul class ="nav navbar-nav">
              <li><a href="/admin/">Administration de l'application</a></li>
              <li><a href="/form_upload/">Upload de cours</a></li>
              <li><a href="/form_upload_light/">Upload d'archive</a></li>
            </ul>
	      </div>

       {% endblock %}
   </nav>

   <section id="content">

       {% block content %}{% endblock %}

   </section>

   <footer>&copy; Esc@pad </footer>

</body>

</html>
