{% extends "app.html" %}

{% block title %}Upload de cours{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/form_dom.js"></script>
{% endblock %}

{% block content %}

    <h2>Veuillez entrer les informations pour créer le cours</h2>

    {% if sauvegarde  %} Votre message a bien été envoyé !{% endif %}

    <form action="{% url "form_upload" %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          <legend>Informations générales</legend>
          {{ form.as_p}}
        </fieldset>

        <div id="modules">
          <fieldset id="module1">
            <legend>Module 1</legend>
            {{formMod.as_p}}
          </fieldset>
        </div>

        <input type="button" value="Ajouter un module" onclick="createModule()">
        <input type="button" value="Retirer un module" onclick="removeModule()">
        <input id="nb_module" name="nb_module" type="hidden" value="1"/>
        <input type="submit" value="Submit" />
    </form>



{% endblock %}
